.heading {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}
.heading1 {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
  text-transform: uppercase;
}
.heading-lower {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
}
.heading-span {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #ee252f;
  text-transform: uppercase;
}
.para {
  font-family: "Roboto";
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
.links {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
.links-upper {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.button {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #f8df1f;
  padding: 1%;
}
button {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #f8df1f;
  padding: 1%;
}
nav {
  background-color: #f8df1f;
}
nav a:link,
nav a:hover {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
nav span a:link,
nav span a:hover {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #ee252f;
}
