.heading {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
}
.heading1 {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
  text-transform: uppercase;
}
.heading-lower {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
  text-transform: lowercase;
}
.heading-span {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #ee252f;
  text-transform: uppercase;
}
.para {
  font-family: "Roboto";
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
.links {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
.links-upper {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
.button {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #f8df1f;
  padding: 1%;
}
img {
  max-width: 100%;
}
button {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #f8df1f;
  padding: 1%;
}
nav {
  background-color: #f8df1f;
}
nav a:link,
nav a:hover {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
}
nav #upper-link a:link,
nav #upper-link a:hover {
  font-family: "Roboto";
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #ee252f;
}
header {
  background-image: url("../img/banner-bg.png");
  background-size: cover;
}
header img {
  display: block;
  margin: auto;
}
section h2 {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
  text-transform: uppercase;
}
section h2 span {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #ee252f;
  text-transform: uppercase;
}
section h2 .lower {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 500;
  color: #050500;
  text-transform: lowercase;
}
section p {
  font-family: "Roboto";
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
section img {
  margin: auto;
  display: block;
}
section:last-of-type {
  background-color: #f3f3f3;
}
footer {
  background-color: #080801;
  border-top: #f8df1f solid 5px;
}
