// Import variables.less
@import "variables";

// Button Styles
button {
	.button();
}
// End Button Styles

// Navigation Styles
nav {
	background-color: @yellow;

	a:link, a:hover {
		.links();
	}

	span {
		a:link, a:hover {
			.links-upper();
			color: @red;
		}
	}
}
// End Navigation Styles

