// Import variables.less
@import "variables";

// Image Styles
img {
	max-width: 100%;
}
// Button Styles
button {
	.button();
}
// End Button Styles

// Navigation Styles
nav {
	background-color: @yellow;

	a:link, a:hover {
		.links();
	}

	span {
		a:link, a:hover {
			.links-upper();
			color: @red;
		}
	}
}
// End Navigation Styles

// Header Styles
header {
	background-image: url("../img/banner-bg.png");
	background-size: cover;
}
// End Header Styles

// Main Content Styles
section {

	h2 {
		.heading1();

		span {
			.heading-span();
		}

		.lower {
			.heading-lower();
		}
	}

	p {
		.para();
	}

	img {
		margin: auto;
		display: block;
	}
}

section:last-of-type {
	background-color: @gray;
}
// End Main Content Styles

// Footer Styles
footer {
	background-color: @black;
	border-top: @yellow solid 5px;
}